colo = #ececec

html, body
  background #ccc
  overflow-y auto
  height 100%

#main
  min-width 600px
  min-height 100%
  max-width 900px
  margin 0 auto
  padding 0 20px 10px
  background #fff
  & > *
    display none
    &:last-child
      margin-bottom 0

h1
  pmb = 10px
  text-align center
  border-bottom 1px solid colo
  padding pmb 0
  margin 0 0 pmb

pre
  background colo
  color green
  padding 1em 2em


a
  color #06c
