html,body{background:#ccc;height:100%;overflow-y:auto}
#main{min-width:600px;min-height:100%;max-width:900px;margin:0 auto;padding:0 20px 20px;background:#fff}
test > *{display:none}
h1{text-align:center;border-bottom:1px solid #ececec;padding:10px 0;margin-bottom:10px}
pre{background:#ececec;color:#008000;padding:1em 2em}
a{color:#06c}

